<div class="center hero-unit">
  <h1>Doxy</h1>

  <h2>
    The Simple, Free and Secure way for your Doc to see you.<br /><br />
    Coming Soon...
  </h2>

  <%= link_to "Sign up for updates!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>