<div class="center hero-unit">
	<h1>Doxy.me</h1>

	<h2>The simple, free, secure way for your doc to see you.</h2>

<div class="ads">
	
</div>
<div class="tokbox">
	<!-- Tokbox code goes here -->
</div>

<div class="right_bar">
	<div class="info"></div>
	<div class="participants"></div>
	<div class="chat"></div>
</div>

  <%= link_to "Sign up for updates!", '#', class: "btn btn-large btn-primary" %>

</div>