<div class="center hero-unit">
	<h1>Doxy.me</h1>

	<h2>The simple, free, secure way for your doc to see you.</h2>

<div class="ads">
	
</div>
<div class="tokbox">
	<!-- Tokbox code goes here -->
	<script type="text/javascript">
    			TB.addEventListener("exception", exceptionHandler);
          // Initialize API key, session, and token...
          // Think of a session as a room, and a token as the key to get in to the room
          // Sessions and tokens are generated on your server and passed down to the client
          var apiKey = "24250552";
          var sessionId = "2_MX4yNDI1MDU1Mn4xMjcuMC4wLjF-U3VuIE1hciAzMSAxMjowOTo0MSBQRFQgMjAxM34wLjY3NzUxMzd-";
          var token = "T1==cGFydG5lcl9pZD0yNDI1MDU1MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz1jMmQ4YjA3MjYwYWJlMzhjMGVkMDA4NDVjODdiZGM3YjFjNGY2Yzk4OnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9JmNyZWF0ZV90aW1lPTEzNjQ3NTY5ODEmbm9uY2U9MC4yMzIxOTU0NTUwMzkzNTk0NiZleHBpcmVfdGltZT0xMzY0ODQzMzkxJmNvbm5lY3Rpb25fZGF0YT0=";

          // Initialize session, set up event listeners, and connect
          var session = TB.initSession(sessionId);
          session.addEventListener('sessionConnected', sessionConnectedHandler);
          session.addEventListener("streamCreated", streamCreatedHandler);
          session.connect(apiKey, token);
          
          function sessionConnectedHandler(event) {
            var publisher = TB.initPublisher(apiKey, 'tokbox');
            session.publish(publisher);
          }

          function streamCreatedHandler(event) {
						subscribeToStreams(event.streams);
					}

					function subscribeToStreams(streams) {
						for (i = 0; i < streams.length; i++) {
							var stream = streams[i];
							if (stream.connection.connectionId != session.connection.connectionId) {
								session.subscribe(stream);
							}
						}
					}

          function exceptionHandler(event) {
						alert(event.message);
					}

        </script>
</div>

<div class="right_bar">
	<div class="info"></div>
	<div class="participants"></div>
	<div class="chat"></div>
</div>

  <%= link_to "Sign up for updates!", '#', class: "btn btn-large btn-primary" %>

</div>