<div class="center hero-unit">
	<h1>Doxy.me</h1>

	<h2>The simple, free, secure way for your doc to see you.</h2>

<div class="ads">
	<%= image_tag "lipitor_ad.png" %>
	<%= image_tag "ativan_ad.png" %>
	<%= image_tag "bc_ad.png", :class => "style_image" %>
</div>
<div class="tokbox">
	<!-- Tokbox code goes here -->
	<iframe class="f2f" src="https://apprtc.appspot.com">
    <p>AppRTC Widget</p>
</iframe>
</div>

<div class="clin_right_bar">
	<div class="info">Session Info</div>
	<div class="participants">Participants</div>
	<div class="chat">Chat</div>
</div>

  <%= link_to "Sign up for updates!", '#', class: "btn btn-large btn-primary" %>

</div>