<div class="center hero-unit">
	<h1>Doxy.me</h1>

	<h2>The simple, free, secure way for your doc to see you.</h2>
	
<div class="pat_tokbox">
	<!-- Tokbox code goes here -->
</div>

<div class="right_bar">
	<div class="meeting_info">Session Info</div>
	<div class="pat_chat">Chat</div>
</div>

</div>